.wrapper{
    width: 90%;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    font-size: 16pt;
}

.commentBody{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
}

.commentBody img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.commentBody p{
    font-weight: bold;
}

.wrapper p{
    width: 100%;
    word-wrap: break-word;
    text-align: left;
}

@media(max-width:800px){
    .wrapper{
        font-size: 14pt;
    }
    .commentBody img{
        width: 50px;
        height: 50px;
    }
}

@media(max-width:450px){
    .wrapper{
        font-size: 12pt;
    }
    .commentBody img{
        width: 30px;
        height: 30px;
    }
}