.header {
	padding: 20px;
	display: flex;
	gap: 20px;
	align-items: center;
	background-color: rgb(225, 0, 0);
}

.navigation {
	flex: 0 0 80%;
	display: flex;
	gap: 30px;
	align-items: center;
	color: white;
	list-style: none;
    margin-left: 50px;
}

#logo {
	font-size: 50pt;
	color: white;
}

#theme{
    font-size: 20pt;
	color: white;
    cursor: pointer;
}

@media(max-width:950px){
    .navigation{
        flex: 0 0 70%;
    }
    #logo {
        font-size: 40pt;
        color: white;
    }
    
    #theme{
        font-size: 15pt;
        color: white;
        cursor: pointer;
    }
}

@media(max-width:550px){
    .header{
        padding: 10px;
        flex-direction: column;
        align-items: center;
        gap:10px;
    }
    .navigation{
        flex-direction: column;
        align-items:center;
        margin-left: 0;
        gap:10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

