.header {
	padding: 10px;
	display: flex;
	gap: 20px;
	align-items: center;
	background-color: rgb(225, 0, 0);
    position: sticky;
    top: 0;
    z-index: 500;
}

.navigation {
	flex: 0 0 80%;
	display: flex;
	gap: 30px;
	align-items: center;
	color: white;
	list-style: none;
    margin-left: 50px;
}

#subMenu {
    display: none;
}

#logo {
	font-size: 50pt;
	color: white;
    cursor: pointer;
}

#whiteTheme{
    font-size: 20pt;
	color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

#darkTheme{
    font-size: 20pt;
    color: rgb(30, 30, 30);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

@media(max-width:950px){
    .navigation{
        flex: 0 0 70%;
    }
    #logo {
        font-size: 40pt;
        color: white;
    }
    
    #whiteTheme{
        font-size: 15pt;
        color: white;
        cursor: pointer;
    }
    #darkTheme{
        font-size: 15pt;
        color: rgb(30, 30, 30);
        cursor: pointer;
    }
}

@media(max-width:550px){
    .header {
        justify-content: space-between;
        gap: 10px;
        padding-left:20px;
        padding-right:20px;
    }
    .navigation{
        display: none;
    }
    #subMenu{
        display: flex;
        font-size: 16pt;
        color: white;
        padding: 5px 10px 5px 10px;
        border: 2px solid white;
        border-radius: 10px;
    }
}

